// ====================================================
// Mixin responsive rem: converts pixle unit to rem
// ====================================================

@function rem($pixles, $context-size: 16) {
    @return #{$pixles / $context-size}rem;
}

@mixin fonts($desktop, $tablet, $mobile) {
	font-size: rem($desktop);
	
	@media (max-width: 991.98px) {
		font-size: rem($tablet);
	}
	
	@media (max-width: 767.98px) {
		font-size: rem($mobile);
	}
}

h1 {
	@include fonts(38, 28, 18);
}


// ========================================================
// Mixin font-size: converts px to rem with pixle fallback
// =======================================================

$root-font-size: 16;

@mixin font-size($value) {
    font-size: $value + px;
    font-size: $value / $root-font-size + rem;
}

h1 {
	@include font-size(15);
}


// ===============================================================
// Mixin px-to-rem-spacing: converts px to rem with pixle fallback
// ============================================================

$root-font-size: 16;

@mixin px-to-rem-spacing($property, $value1, $value2, $value3, $value4) {
    #{$property}: $value1 + px + " " + $value2 + px + " " + $value3 + px + " " + $value4 + px;
    #{$property}: ($value1 / $root-font-size + rem) + " " + ($value2 / $root-font-size + rem) + " " + ($value3 / $root-font-size + rem) + " " + ($value4 / $root-font-size + rem);
}

h1 {
	@include px-to-rem-spacing(padding, 10, 12, 14, 16);
}


// ====================================================
// Function rem: converts any unit in rem
// ====================================================

$baseFontSize: 16;

@function rem($pixels, $context: $baseFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
 
	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

h1 {
	font-size: rem(8);
	padding: rem(10);
}


// ====================================================
// Function calc-rem: converts pixle unit to rem
// ====================================================

$root-font-size-new: 16px;

@function calc-rem($pixels) {
	// @return ($pixels / $root-font-size-new) * 1rem;   second style
	@return #{$pixels / $root-font-size-new}rem;
}

h1 {
	font-size: calc-rem(8px);
}
